@mixin title-1 {
  font-family: "Bebas Neue";
  font-weight: 700;
  font-size: 38px;
  line-height: 100%;
  text-transform: uppercase;
  color: $color3;
  word-break: break-word;
}

@mixin paragraph-1 {
  font-family: "Ubuntu";
  font-weight: 300;
  font-size: 16px;
  line-height: 27px;
  color: $color4;
  word-break: break-word;
}

@mixin title-2 {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 34px;
  line-height: 38px;
  color: $color5;
  word-break: break-word;
}

@mixin paragraph-2 {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: $color5;
  word-break: break-word;
}

@mixin button {
  border: none;
  outline: none;
  background-color: $color2;
  border-radius: 50%;
  min-width: 61px;
  min-height: 61px;
  transition: 0.3s;
  cursor: pointer;
  word-break: break-word;

  &:hover {
    background-color: darken($color2, 30%);
    box-shadow: 6px 6px 8px 0px rgba(34, 60, 80, 0.2);
    transform: scale(1.1);
  }

  &:active {
    background-color: darken($color2, 30%);
    box-shadow: none;
    transform: scale(1);
  }
}

@mixin paragraph-3 {
  font-family: "Montserrat";
  font-weight: 900;
  color: $color5;
  text-transform: uppercase;
  word-break: break-word;
}

@mixin title-3 {
  font-family: "Ubuntu";
  font-weight: 300;
  font-size: 62px;
  line-height: 62px;
  color: $color4;
  word-break: break-word;
}

